.gitignore
*.pyc
__pycache__/
venv/
.env
.DS_Store
static/uploads/*
static/plots/*
!static/uploads/.gitkeep
!static/plots/.gitkeep
*.egg-info/
dist/
build/
.pytest_cache/
*.log
node_modules/
.vscode/
.idea/
.vercel/
